:root {
  --primary: #ffffff;
  --secondary: rgb(3, 3, 46);
  --dark-slate: #2f364f;
  --font8: 18px;
  --font28: 118px;
}

[data-theme="dark"] {
  --primary: rgb(3, 3, 46);
  --secondary: #ffffff;
  --dark-slate: #b7bfdb;
  --font8: 18px;
  --font28: 118px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: var(--secondary);
  color: var(--primary);
}

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.h100 {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.v-align-center {
  justify-content: center;
}

.btn {
  border: 2px solid var(--primary);
  padding: 18px 48px;
  background-color: transparent;
  color: var(--primary);
  border-radius: 6px;
  font-weight: bold;
  font-size: var(--font8);
  transition: all 1s;
}

.btn:hover {
  background-color: var(--dark-slate);
}

.display {
  font-size: var(--font28);
  color: var(--primary);
  padding: 18px;
  transition: all 1s;
}

nav {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--primary);
  max-width: 400px;
}
nav a {
  padding: 8px;
  color: var(--primary);
  text-decoration: none;
  border-radius: 5px;
  transition: 0.2s all;
}

nav a:hover {
  background-color: aliceblue;
  color:rgb(3, 3, 46);
}

input {
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

label {
  font-weight: bold;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  margin: auto;
}

li {
  padding: 15px;
}

.hidden {
  display: none;
}


table {
  border-collapse: collapse;
  max-width: 600px;
  margin: auto;
}


table th {
  background-color: var(--primary);
  color:var(--secondary);
  padding: 10px;
}

table td {
  border: 1px solid var(--primary);
  padding: 10px;
  text-align: left;
}

.slider-btn {
  margin-top: 15px;
  background-color: var(--primary);
  height: 50px;
  width: 100px;
  border-radius: 8px;
  position: relative;
  transition: 0.5 all;
}

.slider-btn input::after {
  content: "";
  box-sizing: border-box;
  background-color: var(--secondary);
  border: 5px solid var(--primary);
  height: 50px;
  width: 50px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 10px;
  transition: 0.3s all;
}

.slider-btn input:checked::after {
  transform: translateX(50px);
}

.slider-btn input {
  height: 0;
}