:root {
  --primary: #ffffff;
  --dark-slate: #2f364f;
  --font8: 18px;
  --font28: 118px;
}

.App {
  text-align: center;
  background-color: rgb(3, 3, 46);
}

.h100 {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.v-align-center {
  justify-content: center;
}

.btn {
  border: 2px solid var(--primary);
  padding: 18px 48px;
  background-color: transparent;
  color: var(--primary);
  border-radius: 6px;
  font-weight: bold;
  font-size: var(--font8);
  transition: all 1s;
}

.btn:hover {
  background-color: var(--dark-slate);
}

.display {
  font-size: var(--font28);
  color: white;
  padding: 18px;
  transition: all 1s;
}